footer {
    border: thin dashed black;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
    font-size: 0.85em;

    .tag { 
        // float: left; 
        color: #333;
        font-size: 0.7rem;
        padding-top: 0.8em;
        display: block;
    }

    a { color: white; text-decoration: none; }
    a:hover { color: blue; }
}