.form-section { margin-top: 2em; background-color: #f5f5f5; padding: 2.5em 0; }

.form-header { 
    text-align: center; 
    margin: 1.8em;
    font-size: 1.05em;
    font-weight: bold;
}

label {
    display: inline-block;
    min-width: 30%;
    margin-right: 1em;
    margin-bottom: 2em;
    text-align: right;
    margin-top: 1em;
}

form { 
    width: 90%;
    max-width: 765px;
    margin: 30px auto;
}


input, textarea {
    font-size: 1em;
    appearance: none;
    border: none;
    outline: none;
    width: 60%;
    padding-bottom: 1em;
    border-bottom: thin solid rgba(5, 5, 5, 0.5);
    background-color: transparent;
}

input:focus { border-bottom: thin solid hsla(120, 76%, 44%, 0.89) }

input[type=submit] {
    cursor: pointer;
    width: auto;
    border-bottom: none;
    padding: 1em 2em;
    position: relative;
    left: 25%;
    border-radius: 1.5em;
    font-weight: bold;
    background-color: #57b846;
    color: white;
    transition: all 0.5s ease;
}

input[type=submit]:hover { background-color: rgb(65, 64, 64) }

.submit-wrapper {
    margin: 2.5em 0;
}

input[type=submit]:focus { border-bottom: none; }