nav { 
    float: right; 
    text-align: right;
    position: relative;
    top: 0.8em;
    right: 0.4em;

    ul li { 
        display: inline-block; 
        font-size: 1.75em; 
        padding: 0.2em;
        cursor: pointer;

        i {  color: rgb(65, 64, 64); }
        i:hover { color:#57b846; }
    
    }
}

header { background-color: white; padding: 10px; }